$base-color: grey;
$dark-base-color: darken( $base-color, 30% );
$light-base-color: lighten( $base-color, 30% );
$navbar-height: 60px;
$logos-height: 450px;
$sections-height: 1500px;

$img-container-height: 400px;

html, body {
  overflow-x: hidden;
  height: 100%;
  margin: 0;
}

span.underlined {
  border-bottom: 2px solid;
}

.site {
  display: flex;
  min-height: 100%;
  flex-direction: column;
}

.content {
  flex: 1;
}

.space-between {
  justify-content: space-between;
}

.header {
  flex: none;
}

.navbar {
  height: $navbar-height;
  width: 100%;
  display: table;
  background-color: #DDD;
  text-align: center;

  &__bar {
    display: table-cell;
    vertical-align: middle;
  }

  &__link {
    text-decoration: none;
    color: #555;
    font-weight: bold;
    margin: 0 15px;
  }
}

.logos {
  height: $logos-height;
  width: 100%;
  display: flex;
  flex-direction: row;

  &__logo_section {
    flex: 1;
    display: flex;
    flex-direction: column;;
    justify-content: center;

    .hexagon {
      width: 25%;
      margin: 0 auto;
    }

    p {
      text-align: center;
      color: white;
      font-weight: bold;
    }

    &--dark {
      background-color: $dark-base-color;
    }

    &--mid {
      background-color: $base-color;
    }

    &--light {
      background-color: $light-base-color;
    }

  }
}

.light-bg {
  background-color: $light-base-color;
}

$between-space-column-margin: 15px;

.section {
  width: 100%;
  text-align: center;
  display: inline-block;
  padding: 20px 0;
  height: $sections-height;

  &__container {
    margin: 0 30px;
  }

  input[type='checkbox'] {
    display: none;
  }

  input[type=checkbox] + label::before {
    content: "";
    display: inline-flex;
    width: 15px;
    height: 15px;
    margin-right: 10px;
    background-color: white;
    border: 2px solid #555;
    align-content: center;
  }

  .right {
    text-align: right;
  }

  &__el--vertically-centered {
    margin: auto 0;
  }

  &__title {
    margin-top: 50px;
    text-align: center;
  }

  &__flex_row {
    display: -moz-flex;
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
  }

  &__flex_column {
    display: flex;
    display: -moz-flex;
    display: -webkit-flex;
    flex-direction: column;

    &:nth-child(1) {
      margin-right: $between-space-column-margin;

      & > p {
        margin-right: $between-space-column-margin;
      }
    }

    &:nth-child(2) {
      margin-left: $between-space-column-margin;

      & > p {
        margin-left: $between-space-column-margin;
      }
    }
  }

  &__flex_column--reverse {
    flex-direction: column-reverse;
  }

  &__flex_center {
    justify-content: center;
  }

  &__flex_item {
    flex: 1;

    &--bottom {
      align-self: flex-end;
    }

    &--centered {
      align-self: center;
    }

    &--2 {
      flex: 2;
    }

    &--3 {
      flex: 3;
    }

    &--4 {
      flex: 4;
    }
  }

  &__row {
    padding: 20px;
    text-align: justify;
    line-height: 1.5em;
    display: flex;
  }

  $bar_height: 50px;

  &__bar {
    height: $bar_height;
    width: 100%;
    background-color: $light-base-color;
    margin-bottom: $between-space-column-margin;

    &--dark {
      background-color: grey;
    }

    &--white {
      background-color: white;
    }

    &--no-margin {
      margin: 0;
    }

    &--2 {
      height: $bar_height * 2;
    }

    &--3 {
      height: $bar_height * 3;
    }

    &--4 {
      height: $bar_height * 4;
    }
  }

  &__img_container {
    height: $img-container-height;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 10px 20px;
  }

  &__boxes_container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__box {
    background-color: white;
    height: $img-container-height / 4 - 20;
    width: $img-container-height / 4 - 20;
    margin: 10px 0;

    &--grey-bg {
      background-color: lighten( $light-base-color, 10%);
    }
  }
}

.footer {
  flex: none;
  height: 50px;
  background-color: grey;
}
