html, body {
  overflow-x: hidden;
  height: 100%;
  margin: 0; }

span.underlined {
  border-bottom: 2px solid; }

.light-bg {
  background-color: #cdcdcd; }

.site {
  display: flex;
  min-height: 100%;
  flex-direction: column; }

.space-between {
  justify-content: space-between; }

.header {
  flex: none; }
  .header .navbar {
    height: 60px;
    width: 100%;
    display: table;
    background-color: #DDD;
    text-align: center; }
    .header .navbar__bar {
      display: table-cell;
      vertical-align: middle; }
    .header .navbar__link {
      text-decoration: none;
      color: #555;
      font-weight: bold;
      margin: 0 15px; }

.content {
  flex: 1; }
  .content .logos {
    height: 450px;
    width: 100%;
    display: flex;
    flex-direction: row; }
    .content .logos__logo_section {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: center; }
      .content .logos__logo_section .hexagon {
        width: 25%;
        margin: 0 auto; }
      .content .logos__logo_section p {
        text-align: center;
        color: white;
        font-weight: bold; }
      .content .logos__logo_section--dark {
        background-color: #343434; }
      .content .logos__logo_section--mid {
        background-color: grey; }
      .content .logos__logo_section--light {
        background-color: #cdcdcd; }
  .content .section {
    width: 100%;
    display: inline-block;
    padding: 20px 0;
    height: 1500px; }
    .content .section__container {
      margin: 0 30px; }
    .content .section input[type='checkbox'] {
      display: none; }
    .content .section input[type=checkbox] + label::before {
      content: "";
      display: inline-flex;
      width: 15px;
      height: 15px;
      margin-right: 10px;
      background-color: white;
      border: 2px solid #555;
      align-content: center; }
    .content .section .right {
      text-align: right; }
    .content .section__el--vertically-centered {
      margin: auto 0; }
    .content .section__title {
      margin-top: 50px;
      text-align: center; }
    .content .section__flex_row {
      display: flex;
      display: -moz-flex;
      display: -webkit-flex;
      flex-direction: row; }
    .content .section__flex_column {
      display: flex;
      display: -moz-flex;
      display: -webkit-flex;
      flex-direction: column; }
      .content .section__flex_column:nth-child(1) {
        margin-right: 15px; }
        .content .section__flex_column:nth-child(1) > p {
          margin-right: 15px; }
      .content .section__flex_column:nth-child(2) {
        margin-left: 15px; }
        .content .section__flex_column:nth-child(2) > p {
          margin-left: 15px; }
    .content .section__flex_column--reverse {
      flex-direction: column-reverse; }
    .content .section__flex_center {
      justify-content: center; }
    .content .section__flex_item {
      flex: 1; }
      .content .section__flex_item--bottom {
        align-self: flex-end; }
      .content .section__flex_item--centered {
        align-self: center; }
      .content .section__flex_item--2 {
        flex: 2; }
      .content .section__flex_item--3 {
        flex: 3; }
      .content .section__flex_item--4 {
        flex: 4; }
    .content .section__row {
      padding: 20px;
      text-align: justify;
      line-height: 1.5em;
      display: flex; }
    .content .section__bar {
      height: 50px;
      width: 100%;
      background-color: #cdcdcd;
      margin-bottom: 15px; }
      .content .section__bar--dark {
        background-color: grey; }
      .content .section__bar--white {
        background-color: white; }
      .content .section__bar--no-margin {
        margin: 0; }
      .content .section__bar--2 {
        height: 100px; }
      .content .section__bar--3 {
        height: 150px; }
      .content .section__bar--4 {
        height: 200px; }
    .content .section__img_container {
      height: 400px;
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      padding: 10px 20px; }
    .content .section__boxes_container {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center; }
    .content .section__box {
      background-color: white;
      height: 80px;
      width: 80px;
      margin: 10px 0; }
      .content .section__box--grey-bg {
        background-color: #e6e6e6; }

.footer {
  flex: none;
  height: 50px;
  background-color: grey; }

/*# sourceMappingURL=style.css.map */
