html, body {
  overflow-x: hidden;
  height: 100%;
  margin: 0; }

span.underlined {
  border-bottom: 2px solid; }

.site {
  display: flex;
  min-height: 100%;
  flex-direction: column; }

.content {
  flex: 1; }

.space-between {
  justify-content: space-between; }

.header {
  flex: none; }

.navbar {
  height: 60px;
  width: 100%;
  display: table;
  background-color: #DDD;
  text-align: center; }
  .navbar__bar {
    display: table-cell;
    vertical-align: middle; }
  .navbar__link {
    text-decoration: none;
    color: #555;
    font-weight: bold;
    margin: 0 15px; }

.logos {
  height: 450px;
  width: 100%;
  display: flex;
  flex-direction: row; }
  .logos__logo_section {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center; }
    .logos__logo_section .hexagon {
      width: 25%;
      margin: 0 auto; }
    .logos__logo_section p {
      text-align: center;
      color: white;
      font-weight: bold; }
    .logos__logo_section--dark {
      background-color: #343434; }
    .logos__logo_section--mid {
      background-color: grey; }
    .logos__logo_section--light {
      background-color: #cdcdcd; }

.light-bg {
  background-color: #cdcdcd; }

.section {
  width: 100%;
  text-align: center;
  display: inline-block;
  padding: 20px 0;
  height: 1500px; }
  .section__container {
    margin: 0 30px; }
  .section input[type='checkbox'] {
    display: none; }
  .section input[type=checkbox] + label::before {
    content: "";
    display: inline-flex;
    width: 15px;
    height: 15px;
    margin-right: 10px;
    background-color: white;
    border: 2px solid #555;
    align-content: center; }
  .section .right {
    text-align: right; }
  .section__el--vertically-centered {
    margin: auto 0; }
  .section__title {
    margin-top: 50px;
    text-align: center; }
  .section__flex_row {
    display: -moz-flex;
    display: -webkit-flex;
    display: flex;
    flex-direction: row; }
  .section__flex_column {
    display: flex;
    display: -moz-flex;
    display: -webkit-flex;
    flex-direction: column; }
    .section__flex_column:nth-child(1) {
      margin-right: 15px; }
      .section__flex_column:nth-child(1) > p {
        margin-right: 15px; }
    .section__flex_column:nth-child(2) {
      margin-left: 15px; }
      .section__flex_column:nth-child(2) > p {
        margin-left: 15px; }
  .section__flex_column--reverse {
    flex-direction: column-reverse; }
  .section__flex_center {
    justify-content: center; }
  .section__flex_item {
    flex: 1; }
    .section__flex_item--bottom {
      align-self: flex-end; }
    .section__flex_item--centered {
      align-self: center; }
    .section__flex_item--2 {
      flex: 2; }
    .section__flex_item--3 {
      flex: 3; }
    .section__flex_item--4 {
      flex: 4; }
  .section__row {
    padding: 20px;
    text-align: justify;
    line-height: 1.5em;
    display: flex; }
  .section__bar {
    height: 50px;
    width: 100%;
    background-color: #cdcdcd;
    margin-bottom: 15px; }
    .section__bar--dark {
      background-color: grey; }
    .section__bar--white {
      background-color: white; }
    .section__bar--no-margin {
      margin: 0; }
    .section__bar--2 {
      height: 100px; }
    .section__bar--3 {
      height: 150px; }
    .section__bar--4 {
      height: 200px; }
  .section__img_container {
    height: 400px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 10px 20px; }
  .section__boxes_container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center; }
  .section__box {
    background-color: white;
    height: 80px;
    width: 80px;
    margin: 10px 0; }
    .section__box--grey-bg {
      background-color: #e6e6e6; }

.footer {
  flex: none;
  height: 50px;
  background-color: grey; }

/*# sourceMappingURL=style.css.map */
